/* For the options or filters in the FiltersModal.jsx */
.modal-options {
  display: flex;

  justify-content: center;
  align-items: flex-start;

  gap: 50px;
}

.priority-heading,
.status-heading,
h3 {
  text-align: center;

  font-size: 1.3rem;
}

/* ButtonModal.jsx */
.submit-form form {
  margin-top: 2rem;
}

.priority-div {
  display: flex;
  flex-direction: column;
}

.submit-form button {
  padding: 1rem;

  border-radius: 1rem;

  outline: none;

  cursor: pointer;

  color: var(--text-color);

  background-color: transparent;

  font-size: 1.2rem;

  border: 2px solid #bf89e08c;
}

.submit-form button:hover {
  border: 2px solid #805c968c;
}

.input-field input:hover {
  border: 1px solid rgba(128, 0, 128, 0.569);
}

.input-field input {
  padding: 1.2rem;

  outline: none;

  background-color: transparent;

  border: 1px solid rgb(202, 73, 202);

  width: 25rem;

  color: var(--text-color);

  font-size: 1.2rem;

  border-radius: 2rem;
}

.input-field-div {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

/* FilterModal.jsx */
input[type="checkbox"]:checked::before {
  content: "check";

  font-family: "Material Symbols Outlined";

  color: white;

  font-size: 1.5rem;
}

input[type="checkbox"] {
  height: 30px;
  width: 30px;

  appearance: none;
  background-color: transparent;

  border: 1px solid rgb(163, 18, 163);

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.checkbox-div {
  display: flex;

  align-items: center;

  gap: 10px;
}

.status-div {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
}

/* BOTH MODALS */
.exit-modal-button {
  position: absolute;

  top: 0;
  right: 0;

  padding: 1.2rem;

  cursor: pointer;
}

.title {
  font-size: 1.8rem;
}

/* Modal background */
.modal-background {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1;
}

.filter-options-div,
.create-task-div {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  padding: 2rem;

  background-color: rgba(119, 17, 202, 0.287);

  color: white;

  z-index: 2;

  border-radius: 1rem;
}
