.task-item-div {
  position: relative;

  height: 100px;

  width: calc(100% - 40px);

  padding: 15px;
  margin: 0 20px;
  margin-top: 15px;

  border: 1px solid var(--primary-color);

  color: black;

  border-radius: 1rem;

  box-sizing: border-box;

  overflow: hidden;

  transition: height 0.5s ease;
}

/* When the user clicks on the arrow, this class get's activated and added to the task-item-div */
.clicked {
  height: 450px;
}

/* The top or main information of the task */
.top-section {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

/* Task name */
.task-item-heading h2 {
  color: var(--text-color);
}

/* For task completed checkbos to the left of the h2 */
.left-side-task input[type="checkbox"] {
  height: 30px;
  width: 30px;

  appearance: none;
  background-color: transparent;

  border: 1px solid rgb(185, 8, 239);

  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side-task input[type="checkbox"]:hover {
  border: 1px solid rgb(149, 8, 192);
}

/* Whole left side (checkbox and h2) */
.left-side-task {
  display: flex;
  flex-direction: row;

  gap: 20px;

  justify-content: center;

  align-items: center;
}

/* Right side images (trash can and down arrow) */
.right-side img {
  cursor: pointer;
}
/* For the images to the right side */
.images-div {
  display: flex;

  flex-direction: row;

  gap: 30px;
}

/* For the expand arrow */
.expand-task img {
  transition: transform 0.5s ease;
}

.img-clicked {
  transform: scaleY(-1);
}

/* When the user clicks on the checkbox near the h2 element, this activates */
.cross-out-text {
  text-decoration: line-through;
}

/* For extra information about the task like description and the type of priority. Everything below is under this class */
.extra-information {
  color: white;

  position: relative;
  display: flex;

  justify-content: space-between;

  margin-top: 1.2rem;
}

/* For the description area */
textarea {
  padding: 1.2rem;

  outline: none;

  background-color: transparent;

  border: 1px solid rgb(203, 5, 247);

  width: 25rem;

  color: var(--text-color);

  font-size: 1.2rem;

  border-radius: 2rem;

  resize: none;
  width: 550px;
  height: 200px;
}

/* The div that contains the h3 heading and textarea */
.task-description-div {
  width: 30rem;
  height: auto;
}

.task-description p {
  font-size: 1rem;
}

/* For the radio buttons  */
.priority-selected-div {
  display: flex;

  justify-content: center;

  gap: 20px;
}

.priority-div input[type="radio"] {
  border: 1px solid gray;
}
