.task-item-div {
  /* display: flex;

  align-items: flex-start;
  justify-content: space-between; */

  height: 100px;

  width: calc(100% - 40px);

  padding: 15px;
  margin: 0 20px;
  margin-top: 15px;

  border: 1px solid var(--primary-color);

  color: black;

  border-radius: 1rem;

  box-sizing: border-box;

  overflow: hidden;

  transition: height 0.5s ease;
}

.clicked {
  height: 450px;
}

.left-side-task input[type="checkbox"] {
  height: 30px;
  width: 30px;

  appearance: none;
  background-color: transparent;

  border: 1px solid rgb(185, 8, 239);

  display: flex;
  align-items: center;
  justify-content: center;
}

.extra-information {
  color: white;
}

.left-side-task input[type="checkbox"]:hover {
  height: 30px;
  width: 30px;

  appearance: none;
  background-color: transparent;

  border: 1px solid rgb(149, 8, 192);

  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side-task {
  display: flex;
  flex-direction: row;

  gap: 20px;

  justify-content: center;

  align-items: center;
}

.right-side img {
  cursor: pointer;

  transition: transform 0.5s ease;
}

.img-clicked {
  transform: scaleY(-1);
}

.cross-out-text {
  text-decoration: line-through;
}

.task-item-heading h2 {
  color: var(--text-color);
}

.input-field input,
textarea {
  padding: 1.2rem;

  outline: none;

  background-color: transparent;

  border: 1px solid rgb(203, 5, 247);

  width: 25rem;

  color: var(--text-color);

  font-size: 1.2rem;

  border-radius: 2rem;
}

textarea {
  resize: none;
  width: 550px;
  height: 200px;
}

.top-section {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.task-description-div {
  width: 30rem;
  height: auto;
}

.task-description p {
  font-size: 1rem;
}
