.pagination-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  gap: 20px;
  color: var(--text-color);
  margin: 0 auto;
  margin-top: 1.8rem;
  max-width: 1200px;

  height: 100%;
}

.pagination-div > div {
  height: fit-content;
}

.page-number,
.page-ellipsis {
  font-size: 1.4rem;

  color: var(--text-color);

  text-shadow: none;

  transition: text-shadow 0.2s ease;
}

.page-number {
  cursor: pointer;
}

.page-ellipsis {
  align-self: baseline;
}

.page-number.clicked {
  text-shadow:
    0 0 5px #b218ff,
    0 0 10px #b218ff,
    0 0 15px #b218ff,
    0 0 20px #b218ff,
    0 0 30px #b218ff,
    0 0 40px #b218ff,
    0 0 55px #b218ff,
    0 0 75px #b218ff;
}
